$theme-colors: (
  "primary": #6e6e6e,
  "secondary": rgb(82, 82, 82),

  
  "danger": #3a3a3a,
);

@import 'bootstrap/scss/bootstrap.scss';

body {
    background-color: #313131;
    color: rgb(245, 245, 245);
}

h1 {
    color: rgb(245, 245, 245);
}